<div class="contenedor-juego">
    <h2 class="msg" id="msg">{{ mensaje }}</h2>
    <div class="juego-cuadricula">
        <div class="cuadro" *ngFor="let jugador of cuadricula; let i = index" (click)="hacerMovimiento(i)">
            <img *ngIf="jugador === casillaEnum.Jugador1" src="{{this.playersService.players[0].personaje}}">
            <img *ngIf="jugador === casillaEnum.Jugador2" src="{{this.playersService.players[1].personaje}}">
        </div>
    </div>

    <button id="juego-boton" class="juego-boton" (click)="reiniciarJuego()">
        <img src="../../../assets/img/moneda.png" alt="moneda" class="moneda">
        &nbsp; Volver a jugar &nbsp;
        <img src="../../../assets/img/moneda.png" alt="moneda" class="moneda">
    </button>
</div>