<div class="contenedor-juego">
    <div class="juego-cuadricula">
        <div class="cuadro"><img src="../../../assets/img/ficha_mario.png" alt=""></div>
        <div class="cuadro"><img src="../../../assets/img/ficha_luigi.png" alt=""></div>
        <div class="cuadro"><img src="../../../assets/img/ficha_mario.png" alt=""></div>
        <div class="cuadro"><img src="../../../assets/img/ficha_luigi.png" alt=""></div>
        <div class="cuadro"><img src="../../../assets/img/ficha_mario.png" alt=""></div>
        <div class="cuadro"></div>
        <div class="cuadro"></div>
        <div class="cuadro"><img src="../../../assets/img/ficha_luigi.png" alt=""></div>
        <div class="cuadro"><img src="../../../assets/img/ficha_mario.png" alt=""></div>
    </div>

    <div id ="juego-boton" class="juego-boton">
        <img src="../../../assets/img/moneda.png" alt="moneda" class="moneda">
        &nbsp; Volver a jugar &nbsp;
        <img src="../../../assets/img/moneda.png" alt="moneda" class="moneda">
    </div>
</div>