<div class="contenedor_formulario">
    <h1>CONFIGURA TU JUGADOR</h1>
    <form class="formulario_settings">
        <input type="name" class="input_name" id="name" placeholder="Enter your name" #name>
        <div class="personaje">
            <div>
                <img src="assets/img/ficha_mario.png">  
                <input type="radio" name="personaje" #personaje/> 
            </div>
            <div>
                <img src="assets/img/ficha_luigi.png">  
                <input type="radio" name="personaje" #personaje/>
            </div>
            <div>
                <img src="assets/img/ficha_bowser.png">  
                <input type="radio" name="personaje" #personaje/>
            </div>
            <div>
                <img src="assets/img/ficha_daisy.png">  
                <input type="radio" name="personaje" #personaje/>
            </div>
            <div>
                <img src="assets/img/ficha_peach.png">  
                <input type="radio" name="personaje" #personaje/>
            </div>
            <div>
                <img src="assets/img/ficha_rosalina.png">  
                <input type="radio" name="personaje" #personaje/>
            </div>
            <div>
                <img src="assets/img/ficha_toad.png">  
                <input type="radio" name="personaje" #personaje/>
            </div>
            <div>
                <img src="assets/img/ficha_waluigi.png">  
                <input type="radio" name="personaje" #personaje/>
            </div>
            <div>
                <img src="assets/img/ficha_wario.png">  
                <input type="radio" name="personaje" #personaje/>
            </div>
            <div>
                <img src="assets/img/ficha_yoshi.png">  
                <input type="radio" #personaje/>
            </div>
        </div>
        <div class="botones_form">
            <button class="boton aceptar">ACEPTAR</button>
            <button class="boton cancelar" (click)="cancelar()">CANCELAR</button>
        </div>
    </form>
</div>
