.contenedor_settings{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

.titulo{
    width: auto;
    height: auto;
}

.contenedor_formulario{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    font-family: SuperMario256;
    gap: 20px;
    width: 90%;
}

.form_jugadores{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    width: 95%;
}

h2{
    font-family: SuperMario256;
    margin-bottom: 20px;
}


.formulario_settings{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    border: 3px solid black;
    width: 25%;
    border-radius: 8px;
    background-color: rgba(210,210,210,0.9);
    box-shadow: 8px 8px 4px black;
    padding: 10px;
}

.input_name{
    width: 60%;
    height: 30px;
}

select{
    width: 60%;
    height: 30px;
    font-family: SuperMario256;
}

option{
    font-family: SuperMario256;
    text-decoration: none;
    font-size: 20px;
}

.personaje{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: center;
    gap: 30px;
    border: 2px solid salmon;
}

.personaje img{
    width: 60px;
    height: 60px;
}

.botones_form{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.boton{
    height: 40px;
    width: 230px;
    border: none;
    border-radius: 8px;
    box-shadow: 4px 4px 4px black;
    font-size: 24px;
    margin-bottom: 10px;
    font-family: SuperMario256;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

    .aceptar{
        background-color: var(--colorMario);
        cursor: pointer;
    }

.botones{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.iconos_fichas{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin: 20px;
    margin-bottom: 40px;
}

.caja_personaje{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* border: 2px solid black; */
    border-radius: 8px;
    box-shadow: 4px 4px 4px black;
    background-color: rgba(210,210,210,0.9);
    font-family: SuperMario256;
    font-size: 18px;
    padding: 8px;
    width: 110px;
}

.iconos_fichas img{
    width: 60px;
    height: 60px;
}

/* Estilo base para pantallas más pequeñas (menos de 768px) */
@media (max-width: 768px) {
    .contenedor_settings {
        height: auto;
    }

    .titulo{
        height: 60px;
        width: 300px;
    }
    
    h2{
        font-size: 21px;
        justify-content: center;
        padding: 3%;
        text-shadow: 2px 2px 4px white;
    }

    .contenedor_formulario {
        width: 100%;
        padding: 10px;
    }

    .form_jugadores {
        flex-direction: column;
        gap: 10px;
    }

    .formulario_settings {
        width: 100%;
        padding: 5px;
    }

    .input_name,
    select {
        width: 100%;
    }

    .personaje img {
        width: 40px;
        height: 40px;
    }

    .boton {
        width: 100%;
        font-size: 18px;
        padding: 8px;
    }
}

/* Estilo para pantallas medianas (entre 769px y 1024px) */
@media (min-width: 769px) and (max-width: 1024px) {
    .contenedor_settings {
        height: auto;
    }

    .contenedor_formulario {
        width: 100%;
        padding: 10px;
    }

    .form_jugadores {
        flex-direction: column;
        gap: 10px;
    }

    .formulario_settings {
        width: 100%;
        padding: 5px;
    }

    .input_name,
    select {
        width: 100%;
    }

    .personaje img {
        width: 50px;
        height: 50px;
    }

    .boton {
        width: 100%;
    }
}

/* Estilo para pantallas grandes (más de 1024px) */
@media (min-width: 1025px) {
    .contenedor_settings {
        height: 100vh;
    }

    .contenedor_formulario {
        width: 90%;
        padding: 20px;
    }

    .form_jugadores {
        flex-direction: row;
    }

    .formulario_settings {
        width: 25%;
        padding: 10px;
    }

    .input_name,
    select {
        width: 60%;
    }

    .personaje img {
        width: 60px;
        height: 60px;
    }

    .boton {
        width: 230px;
    }
}
