<div class = "contenedor">
    <img src="./assets/img/SuperRayaBross.png" alt="">
    <div class="contenedor_game">
        <app-card-player [player] = "this.playerService.players[0]" [color] = "this.playerService.players[0].color"></app-card-player>
        <div><app-tablero></app-tablero></div>
        <app-card-player [player] = "this.playerService.players[1]" [color] = "this.playerService.players[1].color"></app-card-player>
    </div>
    <button class="home_button" (click)="goToHome()">Home</button>
</div>

