.contenedor{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 100vh;
}

img{
    height: 80px;
}

.contenedor_game{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 80vw;
    height: 70vh;
}

.home_button{
    align-self: self-end;
    margin-right: 30px;
    padding: 10px 25px;
    background: var(--colorMario);
    border-radius: 10px;
    box-shadow: 1px 1px 5px black, -2px -2px 5px black;
    color: white;
    font-family: 'SuperMario256';
    -webkit-text-stroke: 1px black;
    font-size: 14px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.home_button:active{
    font-weight: 600;
    transform: translateY(3px);
}