    <div class="card_player">
        <!-- <img src="assets/img/img_player2.png" class="title"> -->
        <h1>ESTER</h1>
        <img src="assets/img/ficha_mario.png" class="personaje">

        <!-- <div class="fichas"> -->
            <!-- <img class="icono_ficha" src="assets/img/ficha_mario.png" alt="">
            <img class="icono_ficha" src="assets/img/ficha_mario.png" alt="">
            <img class="icono_ficha" src="assets/img/ficha_mario.png" alt=""> -->
            <!-- <img class="icono_ficha" src="assets/img/ficha_peach.png" alt="">
            <img class="icono_ficha" src="assets/img/ficha_peach.png" alt="">
            <img class="icono_ficha" src="assets/img/ficha_peach.png" alt=""> -->
        <!-- </div> -->
        
        <div class="contador_victorias">
            <img class="icono_contador" src="assets/img/victorias.png" alt="">
            <p>VICTORIAS: 10</p>
        </div>
        <a class="boton_personaje" routerLink='settings'>PERSONAJE</a>
    </div>
