/* Limpiadores: resetean los valores predefinidos de la página*/
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-decoration: none;
}

html{
    scroll-behavior: smooth;
    background-image: url(./assets/img/fondo-mario.jpg);
    background-size: cover;
}

:root {
    --color-rojo: #FF0000;
    --color-azul: #0000FF;
}

/* Fuente Mario Bross*/
@font-face {
    font-family: 'SuperMario256';
    src: url(assets/font/SuperMario256.ttf);
}