/* You can add global styles to this file, and also import other style files */
/* fuente Mario Bross */
@font-face {
    font-family: 'SuperMario256';
    src: url(assets/fonts/SuperMario256.ttf);
}

/* variables */
:root{
    --colorLuigi: green;
    --colorMario: red;
    --colorPeach: rgb(250, 159, 175);
    --colorBlanco: #ffffff;
    --color-rojo: #FF0000;
    --color-azul: #0000FF;
}

/* limpiadores */
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-decoration: none;
}

html{
    scroll-behavior: smooth;
    background-image: url(./assets/img/fondo-mario.png);
    background-size: cover;
    min-height: 100vh;
    max-width: 100vw;
    background-repeat: no-repeat;
    font-family: SuperMario256;
    display: flex;
    justify-content: center;
    align-items: center;
}